Load Data

In [85]:
import pandas as pd 

data = pd.read_csv(r"C:\Users\ADWAIT\Desktop\Final Year Project\Data\disease Prediction\Hypertension Stroke Diabetes\stroke_data.csv")

data.head(10)

,sex,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1.0,63.0,0,1,1,4,1,228.69,36.6,1,1
1,1.0,42.0,0,1,1,4,0,105.92,32.5,0,1
2,0.0,61.0,0,0,1,4,1,171.23,34.4,1,1
3,1.0,41.0,1,0,1,3,0,174.12,24.0,0,1
4,1.0,85.0,0,0,1,4,1,186.21,29.0,1,1
5,1.0,55.0,1,1,1,4,0,70.09,27.4,0,1
6,0.0,82.0,0,0,0,4,1,94.39,22.8,0,1
7,0.0,17.0,1,0,1,4,0,80.43,29.7,0,1
8,1.0,31.0,0,1,1,2,0,120.46,36.8,1,1
9,0.0,55.0,0,0,1,4,1,104.51,27.3,1,1

Handling Missing Values

In [86]:
data.fillna(data.median(), inplace=True)

Encoding Categorical Variables

In [87]:
categorical_columns = ['sex', 'hypertension', 'heart_disease', 'ever_married', 'Residence_type', 'smoking_status']

for col in categorical_columns:
    data[col] = data[col].astype('category')

data.head(10)

,sex,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1.0,63.0,0,1,1,4,1,228.69,36.6,1,1
1,1.0,42.0,0,1,1,4,0,105.92,32.5,0,1
2,0.0,61.0,0,0,1,4,1,171.23,34.4,1,1
3,1.0,41.0,1,0,1,3,0,174.12,24.0,0,1
4,1.0,85.0,0,0,1,4,1,186.21,29.0,1,1
5,1.0,55.0,1,1,1,4,0,70.09,27.4,0,1
6,0.0,82.0,0,0,0,4,1,94.39,22.8,0,1
7,0.0,17.0,1,0,1,4,0,80.43,29.7,0,1
8,1.0,31.0,0,1,1,2,0,120.46,36.8,1,1
9,0.0,55.0,0,0,1,4,1,104.51,27.3,1,1

Feature Scaling

In [88]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

num_cols = ['age', 'work_type', 'avg_glucose_level', 'bmi']
scale = MinMaxScaler()

data[num_cols] = scale.fit_transform(data[num_cols])

data.head(10)

,sex,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1.0,0.642857,0,1,1,1.00,1,0.801265,0.311801,1,1
1,1.0,0.455357,0,1,1,1.00,0,0.234512,0.260870,0,1
2,0.0,0.625000,0,0,1,1.00,1,0.536008,0.284472,1,1
3,1.0,0.446429,1,0,1,0.75,0,0.549349,0.155280,0,1
4,1.0,0.839286,0,0,1,1.00,1,0.605161,0.217391,1,1
5,1.0,0.571429,1,1,1,1.00,0,0.069107,0.197516,0,1
6,0.0,0.812500,0,0,0,1.00,1,0.181285,0.140373,0,1
7,0.0,0.232143,1,0,1,1.00,0,0.116841,0.226087,0,1
8,1.0,0.357143,0,1,1,0.50,0,0.301634,0.314286,1,1
9,0.0,0.571429,0,0,1,1.00,1,0.228003,0.196273,1,1

Splitting Data

In [89]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import SelectKBest, chi2

X = data.drop(columns=("stroke"))
y = data['stroke']

selector = SelectKBest(score_func=chi2, k=8)
X_new = selector.fit_transform(X, y)

selected_fea = X.columns[selector.get_support(indices=True)]
print(selected_fea)

X_train, X_test, y_train, y_test = train_test_split(X_new, y, test_size=0.2, random_state=7)

Index(['sex', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'smoking_status'],
      dtype='object')

Adding Class Imbalance

In [90]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=7)
X_train_re, y_train_re = smote.fit_resample(X_train, y_train)

# cat_imputer = SimpleImputer(strategy = 'most_frequent')
# X_train_re[categorical_columns] = cat_imputer.fit_transform(X_train_re[categorical_columns])

# has_missing_val = X_train_re.columns[X_train_re.isna().any()]

# print(has_missing_val)

Model Training & Evaluation

In [91]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

model = GaussianNB()

model.fit(X_train_re, y_train_re)

y_predict = model.predict(X_test)

print("Accuracy: ", accuracy_score(y_test, y_predict))
print("confusion Matrix: \n \n", confusion_matrix(y_test, y_predict))
print("Classification Report: \n\n", classification_report(y_test, y_predict))

Accuracy:  0.6753849914446346
confusion Matrix:

 [[3221  829]
 [1827 2305]]
Classification Report:

               precision    recall  f1-score   support

           0       0.64      0.80      0.71      4050
           1       0.74      0.56      0.63      4132

    accuracy                           0.68      8182
   macro avg       0.69      0.68      0.67      8182
weighted avg       0.69      0.68      0.67      8182