Load Data

In [109]:
import pandas as pd

data = pd.read_csv(r"C:\Users\ADWAIT\Desktop\Final Year Project\Data\disease Prediction\Hypertension Stroke Diabetes\hypertension_data.csv")
data.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,57.0,1.0,3,145,233,1,0,150,0,2.3,0,0,1,1
1,64.0,0.0,2,130,250,0,1,187,0,3.5,0,0,2,1
2,52.0,1.0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56.0,0.0,1,120,236,0,1,178,0,0.8,2,0,2,1
4,66.0,0.0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,51.0,1.0,0,140,192,0,1,148,0,0.4,1,0,1,1
6,42.0,0.0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,38.0,0.0,1,120,263,0,1,173,0,0.0,2,0,3,1
8,72.0,0.0,2,172,199,1,1,162,0,0.5,2,0,3,1
9,47.0,0.0,2,150,168,0,1,174,0,1.6,2,0,2,1

Handling Missing Values

In [110]:
data.fillna(data.median(), inplace=True)

Encoding Categorical Vairbales

In [111]:
categorical_columns = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal']

for col in categorical_columns:
    data[col]= data[col].astype('category')

data.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,57.0,1.0,3,145,233,1,0,150,0,2.3,0,0,1,1
1,64.0,0.0,2,130,250,0,1,187,0,3.5,0,0,2,1
2,52.0,1.0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56.0,0.0,1,120,236,0,1,178,0,0.8,2,0,2,1
4,66.0,0.0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,51.0,1.0,0,140,192,0,1,148,0,0.4,1,0,1,1
6,42.0,0.0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,38.0,0.0,1,120,263,0,1,173,0,0.0,2,0,3,1
8,72.0,0.0,2,172,199,1,1,162,0,0.5,2,0,3,1
9,47.0,0.0,2,150,168,0,1,174,0,1.6,2,0,2,1

Feature Scaling

In [112]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

num_cols = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
scale = MinMaxScaler()

data[num_cols] = scale.fit_transform(data[num_cols])

data.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0.528736,1.0,3,0.481132,0.244292,1,0,0.603053,0,0.370968,0,0,1,1
1,0.609195,0.0,2,0.339623,0.283105,0,1,0.885496,0,0.564516,0,0,2,1
2,0.471264,1.0,1,0.339623,0.178082,0,0,0.770992,0,0.225806,2,0,2,1
3,0.517241,0.0,1,0.245283,0.251142,0,1,0.816794,0,0.129032,2,0,2,1
4,0.632184,0.0,0,0.245283,0.520548,0,1,0.702290,1,0.096774,2,0,2,1
5,0.459770,1.0,0,0.433962,0.150685,0,1,0.587786,0,0.064516,1,0,1,1
6,0.356322,0.0,1,0.433962,0.383562,0,0,0.625954,0,0.209677,1,0,2,1
7,0.310345,0.0,1,0.245283,0.312785,0,1,0.778626,0,0.000000,2,0,3,1
8,0.701149,0.0,2,0.735849,0.166667,1,1,0.694656,0,0.080645,2,0,3,1
9,0.413793,0.0,2,0.528302,0.095890,0,1,0.786260,0,0.258065,2,0,2,1

Splitting Data

In [113]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import SelectKBest, chi2


X = data.drop(columns=['target'])
y=data['target']

selector = SelectKBest(score_func=chi2, k=7)
X_new = selector.fit_transform(X, y)

selected_fea = X.columns[selector.get_support(indices=True)]
print(selected_fea)

X_train, X_test, y_train, y_test = train_test_split(X_new, y, test_size=0.31, random_state=7)

Index(['cp', 'restecg', 'exang', 'oldpeak', 'slope', 'ca', 'thal'], dtype='object')

Addressing Class Imbalance

In [114]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=7)

X_train_re, y_train_re = smote.fit_resample(X_train, y_train)


# cat_imputer = SimpleImputer(strategy='most_frequent')
# X_train_re[categorical_columns] = cat_imputer.fit_transform(X_train_re[categorical_columns])

# has_missing_val = X_train_re.columns[X_train_re.isna().any()]

# y_train_re.isna().any()

# print(has_missing_val)

Model Training & Evaluation

In [115]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

model =GaussianNB()

model.fit(X_train_re, y_train_re)

y_predict = model.predict(X_test)

print("Accuracy: ", accuracy_score(y_test, y_predict))
print("confusion Matrix: \n \n", confusion_matrix(y_test, y_predict))
print("Classification Report: \n\n", classification_report(y_test, y_predict))

Accuracy:  0.8409596834034133
confusion Matrix:

 [[2945  746]
 [ 540 3855]]
Classification Report:

               precision    recall  f1-score   support

           0       0.85      0.80      0.82      3691
           1       0.84      0.88      0.86      4395

    accuracy                           0.84      8086
   macro avg       0.84      0.84      0.84      8086
weighted avg       0.84      0.84      0.84      8086